
.logo-text {
	font-size: 30pt;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	.logo-text {
		font-size: 25pt;
	}
}
/* On screens that are 480 or less, set the background color to olive */
@media screen and (max-width: 480px) {
	.logo-text {
		font-size: 20pt;
	}
}
@media screen and (max-width: 576px) {
	.pool-stats {
		border: 0 !important;
		padding-bottom: 10px;
	}
}

/* youmine code */
.ym-code {
	width: auto;
	background-color: #fff;
	padding: 8px 12px;
	border-left: 4px solid #4CAF50;
	word-wrap: break-word;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ym-code, .ym-codespan {
	font-family: Consolas, "courier new";
	font-size: 16px;
}

.coin-logo {
	max-height: 30px;
}


.boxStatsList i.fa, .boxStatsList i.fas, .boxStatsList i.fab {
	height: 15px;
	width: 33px;
	text-align: center;
}
.why-mine-us span {
	margin-right: 10px;
}


.progress.active .progress-bar {
	-webkit-transition: none !important;
	transition: none !important;
}
.stats-progress .progress {
	height: 0.4rem;
}